<div class="col-md-3" style="margin-top: 70px;">
  <nav class="sidebar">
    <div class="list-group">
      <a class="list-group-item">
        <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
      </a>
      <a class="list-group-item">
        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;Orders
      </a>
      <a class="list-group-item">
        <i class="fa fa-fw fa-table"></i>&nbsp;Order Maintenance
      </a>
      <a class="list-group-item">
        <i class="fa fa-fw fa-edit"></i>&nbsp;Log
      </a>
      <a class="list-group-item">
        <i class="fa fa-fw fa-desktop"></i>&nbsp;Notifications
      </a>
      <a class="list-group-item">
        <i class="fa fa-fw fa-wrench"></i>&nbsp;Alerts
      </a>
      <a class="list-group-item">
        <i class="fa fa-th-list"></i>&nbsp;Component
      </a>
      <a class="list-group-item">
        <i class="fa fa-file-o"></i>&nbsp;New Menu
      </a>
    </div>
  </nav>
</div>
